<div class="card">
  <img
    src="https://cdn.jsdelivr.net/npm/lucide-static@latest/icons/package.svg"
    alt="<%= product.name %>"
    class="card__image"
  />
  <h3 class="card__title"><%= product.name %></h3>
  <p class="card__description"><%= product.description %></p>
  <% if (product.price) { %>
  <p class="card__price"><%= product.price %></p>
  <% } %>
  <div>
    <a href="/products/<%= product.name %>">Details</a>
    <button onclick="deleteProduct('<%= product.name %>')">Delete</button>
  </div>
</div>
